**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.gitattributes
**/.vs
**/.vscode
**/*.*proj.user
**/azds.yaml
**/chart
**/tf
**/bin
**/obj
**/Dockerfile
**/docker-compose.yml
**/azure-pipeline.yml
**/*.dbmdl
**/*.jfm
**/.md
**/secrets.dev.yaml
**/values.dev.yaml
**/.toolstarget
**/Properties/
**/appsettings.*.json
./*.PNG